<%- include("../partials/head") %>

    <div class="ui main container text segment" style="margin-top: auto;">
        <div class="item">
            <h1 class="big content">
                <%= user.name %>
            </h1>
            <hr>
            <div class="description">
                <p><strong>Username/Alias:</strong>
                    <span style="float: right;"><%= user.username %><span>
                </p>
                <p><strong>Description:</strong>
                    <span style="float: right;"><%= user.description||"Unspecified" %><span>
                </p>
                <p> <strong>Address: </strong>   
                   <span style="float: right;"><%= user.address %></span> 
                </p>
                <p><strong>Email: </strong>
                    <span style="float: right;"><%= user.email %></span>
                </p>
                <a href="/user/edit">Edit details?</a>
            </div>
        </div>

    </div>

    <%- include("../partials/foot") %>