<%- include("../partials/head") %>
<style>
    select{
        padding: 0 10px;
        padding-top: 1px;
        padding-bottom: 2px;
        border: 1px solid black;
        border-radius: 5px;
    }
    select:active{
        border: none;
    }
    button.rate{
        background-color: beige;
        border: 1px black solid;
        border-radius: 5px;
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.2);

    }
    .drop{
        position: relative;
        display: inline-block;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    }
    .ui.basic.button{
        margin-top: 20px;
    }
    #rtng{
        margin-top: 10px;
    }

</style>

    <div class="ui main container text segment" style="margin-top: auto;">
        <% if (Posts) { %>
            <div class="item">
                <h1 class="big content"><a href="/posts/<%= Posts.parent||Posts._id %>">
                        <%= Posts.title %>
                    </a>
                </h1>
                <div class="description">
                    <p>
                        <%- Posts.body %>
                    </p>

                </div>
            </div>
            <% if (locals.currentUser &&Posts.author.id.equals(locals.currentUser._id)) { %>
                <div class="item modButtons" style="display: inline-block;">
                    <a href="/posts/<%= Posts._id %>/edit" class="ui yellow basic button">Edit</a>
                    <form id="delete" action="/posts/<%= Posts._id %>/delete" method="POST" >
                        <button class="ui red basic button">Delete</button>
                    </form>
                </div>
                <% } %>

                    <% if (locals.currentUser && !Posts.author.id.equals(locals.currentUser._id)&& !isRated) { %>
                        <div id="rtng" style="float: right;">
                            <form action="/<%= Posts._id %>/ratings" method="post">
                                <p style="margin-bottom: 0.1em;">Rate this post:</p>
                                <button style="margin-bottom: 0.5em;" class="rate" type="submit">Rate</button>
                                <select name="rating" class="drop">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </form>
                        </div>
                        <% } %>


                            <a href="/posts/<%= Posts._id %>/answer" class="ui green basic button">Answer</a>
    </div>

    <% }else{ %>
        <h4>Post not found maybe deleted</h4>
        <% } %>


            <%- include("../partials/foot") %>